.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* STORY FONT SIZES, KEEP THESE IN SYNC WITH EACH OTHER! */
/* STORY FONT SIZES, KEEP THESE IN SYNC WITH EACH OTHER! */
/* STORY FONT SIZES, KEEP THESE IN SYNC WITH EACH OTHER! */

/* These two values are hand tweaked so the font size on the printed page is the same as it is on screen. In the future we might be able to related them using CSS variables and CSS arithmetic but we are not sure if the relationship between viewport units and print points is linear so we'd need to look into that. */

/* Font Size for story pages on screen */
textarea {
  font-size: 2.4vh;
}

/* Font Size for story pages in print */
@media print {
  textarea {
    font-size: 26pt;
  }
  #printOverlay {
    display: none;
  }
}
